<div class="card">
  <div class="card-content">
    <div class="content">
    <header class="card-header">
      <h1>New booking</h1>
      </header>
<%= render "form", booking: @booking %>

<br>

<div>
  <%= link_to "Back to bookings", bookings_path %>
</div>
