<%= link_to new_user_session_path do %>
<button class="button is-large">Login</button>
<% end %>

<%= link_to new_user_registration_path do %>
<button class="button is-large">Sign Up</button>
<% end %>